body {
  width: 500px;
  margin: 4% auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  background: url('pexels-ian-panelo-3729557.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 10px;
  padding: 20px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
}

.input {
  grid-column: 1 / 5;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 60px;
  padding: 10px 15px;
  text-align: right;
  font-size: 2.5rem;
  overflow-x: auto;
  transition: all .2s ease-in-out;
}

.input:hover {
  border-color: #bbb;
  box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.operators {
  grid-column: span 1;
  border: 1px solid #bbb;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 10px 4px 0 0;
  cursor: pointer;
  background-color: #ddd;
  transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.operators:hover {
  background-color: #ddd;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #aaa;
}

.operators:active {
  font-weight: bold;
}

.numbers {
  grid-column: span 1;
  border: 1px solid #ddd;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 10px 4px 10px 0;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.numbers:hover {
  background-color: #f1f1f1;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #bbb;
}

.numbers:active {
  font-weight: bold;
}

.equal {
  grid-row: 3 / 7;
  grid-column: 4 / 5;
  border: 1px solid #3079ED;
  border-radius: 1px;
  width: auto;
  text-align: center;
  align-items: stretch;
  cursor: pointer;
  color: #FFF;
  background-color: #4d90fe;
  transition: all .2s ease-in-out;
  margin: 10px 6px 10px 0;
  vertical-align: top;
  padding: 127px 10px;
}

.equal:hover {
  background-color: #307CF9;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #1857BB;
}

.equal:active {
  font-weight: bold;
}
